@model IEnumerable<string>





@foreach (string role in Model)
{
   

    <div class="card-group">

        <a class="nav-link text-dark" asp-area="" asp-controller="Participant"  asp-route-role="@role"
           asp-route-participantPage="1">
         
            <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                <div class="card-header bg-warning">Teachers></div>
                <div class="card-body">
                    <h5 class="card-title">Primary card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </a>


    </div>



}
