




<div class="card-group">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
        <div class="card text-white @*bg-info*@ mb-3" style="max-width: 18rem; background-color: mediumvioletred ">
           
            <div class="card-body">
                <h5 class="card-title" style=" font-family: Georgia, serif;">HOME</h5>
                <img src="~/Content/Images/home.png" />
            </div>
        </div>
    </a>

        <a class="nav-link text-dark" asp-area="" asp-controller="Programme" asp-action="List">
        <div class="card text-white @*bg-info*@ mb-3" style="max-width: 18rem; background-color: deepskyblue ">
            
            <div class="card-body">
                <h5 class="card-title" style=" font-family: Georgia, serif;">PROGRAMMES</h5>
                <img src="~/Content/Images/programme.png" />
            </div>
        </div>
            </a>
</div>

<div class="card-group">

    <a class="nav-link text-dark" asp-area="" asp-controller="Participant" asp-action="List">
        <div class="card text-white bg-pink mb-3" style="max-width: 18rem; background-color: #6f42c1 " >
           
            <div class="card-body">
                <h5 class="card-title" style=" font-family: Georgia, serif;">PUPILS</h5>
                <img src="~/Content/Images/pupil.png" />
            </div>
        </div>
    </a>


    <a class="nav-link text-dark" asp-area="" asp-controller="Participant" asp-action="List">
        <div class="card text-white @*bg-danger*@ mb-3" style="max-width: 18rem; background-color: #e83e8c; font-family: Georgia, serif; ">
            
            <div class="card-body">
                <h5 class="card-title" style=" font-family: Georgia, serif;" >TEACHERS</h5>
                <img src="~/Content/Images/teacher.png" />
            </div>
        </div>
        </a>
</div>